body{
	margin:0;
	padding: 0;
	border:0;
	background-color: #FFF;
	
}

.dark-mode{
	background-color: #000000;
	color:#FFF;
}



#wrapper{
	margin: 0 auto 0 auto;
	padding: 0;
	border: 0;
	width: 1250px;
}

header{
	margin: 0 auto 0 auto;
	padding: 0;
	border: 0;
	width: 1250px;
	height: 400px;
	background-color: #FFF;
	box-shadow:5px 5px 5px #555555;
	border-radius: 10px;
}

/*1 */
/*1.1 */
header div{
	margin: 0 ;
	padding: 0;
	border: 0;
	order: 2;
	width: 200px;
	height:110px;
	float:left;
}


header div img{
	padding: 0;
	border: 0;
	width: 90%;
	height:150px;
	float:left;
}


/*1.1 */

/*1.2 */
/*
#content{
	margin: 0;
	padding: 0;
	border: 0;
	width: 450px;
	height:150px;
	float:left;
}
*/


#div2{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}


#header1{
	width: 254px;
	height:111px;
	float:left;
	order: 2;
}
/*
#header1{
	width: 250px;
	margin-right:500px;
}

#header1 h1{
}
*/
header div.menu ul {
	width: 159px;
	
}



/*1.2  
	 margin-top: -150px;
	width: 200px;
	height:150px;*/

/*1.3 */
header div.right_sidbar{
	padding: 0;
	border: 0;
	float:left;
	display:flex;
	justify-content: space-between;
	width: 210px;
}

#search{
	height:20px;
	
}


div.searchbtn{
	background-color: #ffec00;
	margin-top:-1px;
	width: 50px;
	margin-right:2px ;
	border-radius: 5px;
	font-weight: bold;
	height: 30px;
	cursor: pointer;
}

div.searchbtn i#button.fas.fa-search{
	width: 170%;
	margin-top: 10%;
	margin-left:5px ;
	cursor: pointer;
}


/*1.3*/
/*1 */
article{
	margin: 0 auto 0 auto;
	padding: 0;
	border: 0;
	height: 2184px;
	background-color: #FFF;
	box-shadow:5px 5px 5px #555555;
	border-radius: 10px;
}

article section{
	margin: 0px 131px;
	padding: 0;
	border: 0;
	width: 250px;
	height:220px;
	float:left;
}


article section.image #imageId{
	margin: 0;
	padding: 0;
	border: 0;
	margin-left: 300px;
	width: 305px;
	height:230px;
	float:left;
}





/*
#right_sidbar1{
	margin: 0;
	padding: 0;
	border: 0;
	width: 850px;
	height:195px;
	float:left;
	/*background-color: #666;
	*/
	/*
	}
*/
#h1{
	border: 0;
}
#hr{
	margin-top: -20px;
}

#p{
	margin-top: -15px;
}

section.position_Of_Iran{
	margin: 0;
	margin-top:48px;
	padding: 0;
	border: 0;
	width: 96%;
	height:250px;
	float:left;
}

section.history_Of_Iran{
	margin: 0;
	padding: 0;
	border: 0;
	margin-top: 38px;
	width: 96%;
	height:250px;
	float:left;
	
}

article section.list{
	margin: 0;
	margin-top:70px;
	padding: 0;
	border: 0;
	width: 96%;
	height:235px;
	float:left;
}

section.table{
	margin: -30px;
	padding: 0;
	border: 0;
	width: 100%;
	min-height: 756px;
	height:991px;
	max-height: 998px;
	float:left;
	
	
}


section.last_paraghraf{
	
	margin: 0;
	padding: 0;
	border: 0;
	width: 96%;
	height:51px;
	float:left;
	
}

section.icons{
	margin: 0;
	padding: 0;
	border: 0;
	width: 96%;
	height:74px;
	float:left;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-evenly;
}

table{
	width:50%;

}

table, th, td{ 
	border:2px solid black;
}




#left_Icon_Id{
	margin: 0;
	padding: 0;
	border: 0;
	width:50px;
	height:50px;
	float:left;
	order: 2;
}
#P1{
	order: 1;
}





#P2{
	order: 3;
}

#Right_Icon_Id{
	margin:0 ;
	padding: 0;
	border: 0;
	width:50px;
	height:50px;
	float:left;
	order: 4;
}


footer{
	margin: 0 auto 0 auto;
	padding: 0;
	border: 0;
	height: 210px;
	background-color: #FFF;
	box-shadow:1px 1px 1px #555555;
	border-radius: 10px;
	/*FFF*/
}


#movie{
	margin: 0 ;
	padding: 0;
	border: 0;
	width: 180px;
}

::selection {
  color: #FFFEFE;
  background: #000000;
}

input:focus {
  background-color: #5FC77D;
}

@media  screen and (max-width: 800px){
	/*
	article{
		background-color: #5FC77D;

	}	
	*/
	section.table{
		height: 900px;
	}
	footer{
		height: 187px;
	}
}


@media  screen and (min-width: 800px){
	#div2{
		width: 254;
	}

}

@media screen and (-moz-min-device-pixel-ratio:1) {
    .body {
        background-color: black;
    }
}




	#wrapper{
		display:flex;
		justify-content:center;
		flex-direction: column;
		height: 2656px;
	}
	
	
	header{
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: baseline;
		width:100%;
		border: 1px solid black;
	}
	
	article{
		flex: none;
		width: 100%;
		border: 1px solid black;
		float:left;
		font-size: 16px;
	}
	
	
	
	footer{
		display: flex;
		align-items: center;
		justify-content: center;
		width:100%;
		border: 1px solid black;
	}
	



