body{
	margin:0;
	padding: 0;
	border:0;
	background-color: #FFF;
	
}

.dark-mode{
	background-color: #000000;
	color:#FFF;
}



#wrapper{
	margin: 0 auto 0 auto;
	padding: 0;
	border: 0;
	width: 100%;
}

header{
	margin: 0 auto 0 auto;
	padding: 0;
	border: 0;
	height: 400px;
	background-color: #FFF;
	box-shadow:5px 5px 5px #555555;
	border-radius: 10px;
}

/*1 */
/*1.1 */
#div1{
	margin: 0 ;
	padding: 0;
	border: 0;
	width: 53%;
	height:31%;
	float:left;
}

header div img{
	margin: 0 ;
	padding: 0;
	border: 0;
	width: 100%;
}


/*1.1 */

/*1.2 */
/*
#content{
	margin: 0;
	padding: 0;
	border: 0;
	width: 450px;
	height:150px;
	float:left;
}
*/

#header1{
	width: 68%;
	height:15%;
	float:left;
}
/*
#header1{
	width: 250px;
	margin-right:500px;
}

#header1 h1{
	margin-top: 40px;
	margin-right:20px;
}
*/
header div.menu{
	margin: 0 ;
	padding: 0;
	border: 0;
	height: 20%;
	width: 54%;
}

header div.menu ul {
	width: 150px;
	
}



/*1.2  
	 margin-top: -150px;
	width: 200px;
	height:150px;*/

/*1.3 */
header div.right_sidbar{
	margin: 0;
	padding: 0;
	border: 0;
	display:flex;
	justify-content: space-between;
	width: 65%;
}

#search{
	height:20px;
	
}


div.searchbtn{
	background-color: #ffec00;
	width: 12%;
	border-radius: 26%;
	font-weight: bold;
	height: 108%;
	cursor: pointer;
}

div.searchbtn i#button.fas.fa-search{
	width: 170%;
	margin-top: 4%;
	margin-left:5px ;
	cursor: pointer;
}


/*1.3*/
/*1 */
article{
	margin: 0 auto 0 auto;
	padding: 0;
	border: 0;
	width: 1250px;
	height: 159vw;
	background-color: #FFF;
	box-shadow:5px 5px 5px #555555;
	border-radius: 10px;
}

article section.image{
	position: relative;
	width: 37%;
	height:8%;
	top: 0.5%;
	margin-right: 32%;
}


article section.image #imageId{
	width: 100%;
	height:100%;
	float:left;
}





/*
#right_sidbar1{
	margin: 0;
	padding: 0;
	border: 0;
	width: 850px;
	height:195px;
	float:left;
	/*background-color: #666;
	*/
	/*
	}
*/
#h1{
	border: 0;
}
#hr{
	margin-top: -20px;
}

#p{
	margin-top: -15px;
}

section.position_Of_Iran{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	top: 0.6%;
	width: 96%;
	height:12%;
	float:left;
}

section.history_Of_Iran{
	margin: 0;
	margin-top:42px;
	padding: 0;
	border: 0;
	width: 96%;
	height:16%;
	float:left;
	
}

article section.list{
	margin: 0;
	margin-top:8%;
	padding: 0;
	border: 0;
	width: 96%;
	height:11%;
	float:left;
}

section.table{
	margin: -4.5%;
	padding: 0;
	border: 0;
	width: 109%;
	float:left;
	height:33%;
}


section.last_paraghraf{
	
	margin: 0;
	padding: 0;
	border: 0;
	width: 96%;
	height:4%;
	float:left;
	
}

section.icons{
	margin: 0;
	padding: 0;
	border: 0;
	width: 96%;
	height:5%;
	float:left;
	
}

table{
	
	width:90%;
}

table, th, td{ 
	border:2px solid black;
}




#left_sidbar_Icon{
	margin: 0;
	padding: 0;
	border: 0;
	width: 50%;
	height:55px;
	float:left;
}
#left_Icon_Id{
	margin: 0;
	padding: 0;
	border: 0;
	width:20%;
	height:50px;
	float:left;
}
#P1{
	margin-right:34%;
	
}

#Right_sidbar_Icon{
	margin: 0;
	padding: 0;
	border: 0;
	width:50%;
	height:50px;
	float:left;
}
#P2{
	margin-right:33%;
}
#Right_Icon_Id{
	margin:0 ;
	padding: 0;
	border: 0;
	width:50px;
	height:50px;
	float:left;
}


footer{
	margin: 0 auto 0 auto;
	padding: 0;
	border: 0;
	width: 1250px;
	height: 15vw;
	background-color: #FFF;
	box-shadow:1px 1px 1px #555555;
	border-radius: 10px;
	/*FFF*/
}


#movie{
	position:absolute;
	top: 5%;
	left:7%;
	width: 12%;
	float:left;
	
	
}

::selection {
  color: #FFFEFE;
  background: #000000;
}

input:focus {
  background-color: #5FC77D;
}


	*{
		box-sizing: border-box;
	}


	#wrapper{
		display:flex;
		justify-content:center;
		box-sizing: border-box;
		
	}
	
	
	header{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width:26%;
		border: 1px solid black;
		
	}
	
	article{
		flex: none;
		
		width: 47.7%;;
		border: 1px solid black;
		float:left;
	}
	
	
	
	footer{
		flex: none;
		
		width:25.5%;
		border: 1px solid black;
	}
	



